<section class="error404">
  <figure>
    <img src="/api/public/images/404img.webp" alt="page not found" />
  </figure>
  <p>¡Oops! <br>
    Parece que esta cuerda se rompió, pero el espíritu punk sigue vivo:
    ¡explora nuestras guitarras!</p>
</section>