<div class="main-wrapper">
  <section class="products-container">
  </section>
  {{! Forms }}
  <div class="form-container">
    <section class="form_nav">
      <ul>
        <li><a id="addProductTab" class="tab--enable">Add new product</a></li>
        <li><a id="updateProductTab" class="tab--disable">Update a product</a></li>
        <li><a id="deleteProductTab" class="tab--disable">Delete a product</a></li>
      </ul>
    </section>
    {{! ADD FORM }}
    <section id="addProductSection" class="visible">
      <form id="formAddProduct" enctype="multipart/form-data">

        <div>
          <label for="name">Product name</label>
          <input class="form_text-input" type="text" name="name" id="name" />

        </div>
        <div>
          <label for="category">Category</label>
          <select class="form_dropdown" name="category" id="category">
            <option value="" disabled selected>Select a category</option>
            <option value="electric-guitar">Electric guitars</option>
            <option value="acoustic-guitar">Acoustic guitars</option>
          </select>
        </div>

        <div>
          <label for="brand">Brand</label>
          <select class="form_dropdown" name="brand" id="brand">
            <option value="" disabled selected>Select a brand</option>
            <option value="ibanez">Ibanez</option>
            <option value="fender">Fender</option>
            <option value="gibson">Gibson</option>
          </select>
        </div>

        <div>
          <label for="price">Price</label>
          <input
            class="form_text-input"
            type="text"
            name="price"
            placeholder="0.00"
            id="price"
          />
        </div>

        <div>
          <label for="description">Description</label>
          <textarea
            class="form_text-input"
            name="description"
            id="description"
            placeholder="Write a description"
          ></textarea>
        </div>
        <div>
          <label for="stock">Stock</label>
          <input
            class="form_text-input"
            type="number"
            name="stock"
            id="stock"
            placeholder="0"
          />
        </div>

        <div class="form_file">
          <label for="thumbnail">Image</label>
          <input type="file" name="thumbnail" id="thumbnail" />
        </div>

        <input class="form-btn" type="submit" value="Add product" />

      </form>
    </section>

    {{! UPDATE FORM }}
    <section id="updateProductSection" class="hidden">
      <form id="formUpdateProduct">
        <div>
          <label for="id">Product ID</label>
          <input class="form_text-input" type="text" name="id" id="id" />

        </div>
        <div>
          <label for="name">Product name</label>
          <input class="form_text-input" type="text" name="name" id="name" />

        </div>
        <div>
          <label for="category">Category</label>
          <select class="form_dropdown" name="category" id="category">
            <option value="" disabled selected>Select a category</option>
            <option value="electric-guitar">Electric guitars</option>
            <option value="acoustic-guitar">Acoustic guitars</option>
          </select>
        </div>

        <div>
          <label for="brand">Brand</label>
          <select class="form_dropdown" name="brand" id="brand">
            <option value="" disabled selected>Select a brand</option>
            <option value="ibanez">Ibanez</option>
            <option value="fender">Fender</option>
            <option value="gibson">Gibson</option>
          </select>
        </div>

        <div>
          <label for="price">Price</label>
          <input
            class="form_text-input"
            type="text"
            name="price"
            placeholder="0.00"
            id="price"
          />
        </div>

        <div>
          <label for="description">Description</label>
          <textarea
            class="form_text-input"
            name="description"
            id="description"
            placeholder="Write a description"
          ></textarea>
        </div>
        <div>
          <label for="stock">Stock</label>
          <input
            class="form_text-input"
            type="number"
            name="stock"
            id="stock"
            placeholder="0"
          />
        </div>

        <div class="form_file">
          <label for="thumbnail">Image</label>
          <input type="file" name="thumbnail" id="thumbnail" />
        </div>

        <input class="form-btn" type="submit" value="Update product" />

      </form>
    </section>

    {{! DELETE FORM }}
    <section id="deleteProductSection" class="hidden">
      <form id="formDeleteProduct">
        <div>
          <label for="id">Product ID</label>
          <input class="form_text-input" type="text" name="id" id="id" />

          <input class="form-btn" type="submit" value="Delete product" />
        </div>
      </form>
    </section>
  </div>

</div>
<script src="/api/public/js/formshandle.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>