<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="api/public/css/reset.css" />
    <link rel="stylesheet" href="api/public/css/index.css" />
  </head>
  <body>
    <header class="header-container">
      <h1 class="logo">Alex's Guitars</h1>
      <nav class="navbar-wrapper">
        <ul>
          <li><a href="/">Products</a></li>
          <li><a href="/my-cart">My cart</a></li>
          <li><a href="">Chat</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h2 class="logo_footer">Alex's Guitars</h2>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/api/public/js/products.socket.js"></script>
    <script src="/api/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>